/* Variables used throughout will go here. */
/****************************
Body Section
****************************/
#top {
  background-image: url("../assets/img/latte-coder.jpg");
  min-height: 70em;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0em; }

#about {
  margin: 5em; }

#about-me-photo {
  background-image: url("../assets/img/about.jpg");
  height: 25em;
  width: 20em;
  background-size: cover;
  border-radius: 100%;
  background-repeat: no-repeat; }

.logos {
  background-size: contain;
  height: 5em;
  background-repeat: no-repeat; }

#cSharp {
  background-image: url("../assets/logo/cSharpCrop.png"); }

#css {
  background-image: url("../assets/logo/CSS.png"); }

#github {
  background-image: url("../assets/logo/Github.png"); }

#html {
  background-image: url("../assets/logo/html_Logo.png"); }

#bootstrap {
  background-image: url("../assets/logo/bootstrap.png"); }

/* ------------------------------
Navbar Section
--------------------------------*/
.navbar {
  margin-bottom: 0em; }

/* CSS code for the Header section. */
#main-header {
  height: 50%;
  background-color: blue; }

/* ------------------------------
Portfolio Section
--------------------------------*/
/****************************
About Section
****************************/
/* CSS code for the Contact section. */
/* CSS code for the Footer section. */
