/* Variables used throughout will go here. */
/****************************
Body Section
****************************/
#page-wrapper {
  position: relative;
  width: 100%; }

#top {
  background-image: url("../assets/img/latte-coder.jpg");
  min-height: 70em;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0em; }

#about {
  margin: 5em; }

#about-me-photo {
  background-image: url("../assets/img/about.jpg");
  height: 25em;
  width: 20em;
  background-size: cover;
  border-radius: 100%;
  background-repeat: no-repeat; }

/* ------------------------------
Navbar Section
--------------------------------*/
.navbar {
  margin-bottom: 0em; }

/* CSS code for the Header section. */
#main-header {
  height: 50%;
  background-color: blue; }

/* ------------------------------
Portfolio Section
--------------------------------*/
/****************************
About Section
****************************/
/* CSS code for the Contact section. */
/* CSS code for the Footer section. */
