
.row {
    padding: 0;
    margin: 0;
}
/****************************
About Section
****************************/
.hello {
    font-size: 30px;
    font-family: 'Lora', serif;
    color: #FFC6B9;
}

.karla {
    font-size: 15px;
}

#about-me-photo {
    margin-top: 6%;
}

.about {
    background-position: center center;
    vertical-align: middle;
    margin-bottom: 30px; //*
    
}
@media (min-width: 992px)
{.col-md-4 {
    width: 33.33333333%;
}#about1 {
    padding: 0 5em;
}

#about2 {
    padding: 0 5em;
}}
