
/****************************
About Section
****************************/
.hello {
    font-size: 30px;
    font-family: 'Lora', serif;
    color: #FFC6B9;
}

#about-me-photo {
    margin-top: 4%;
}

#about .about-me {
    background-position: center center;
    vertical-align: middle;
}