
/****************************
Body Section
****************************/
#top{
    background-image: url("../assets/img/latte-coder.jpg");
    min-height: 70em;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0em;
}

#about{
    margin-top: 5em;
    // margin-bottom: 5em; 
}
#about-me-photo{
    background-image: url("../assets/img/about.jpg");
    height: 25em;
    width: 20em;
    background-size: cover;
    border-radius: 100%;
    background-repeat: no-repeat;
}