
/****************************
Body Section
****************************/
.lora {
    font-family: 'Lora', serif;
}

.karla {
    font-family: 'Karla', sans-serif; 
}

.sacramento {
    font-family: 'sacramento', cursive;
}

#page-wrapper {
    position: relative;
    width: 100%
}

#top{
    //background-color: white;
    background-image: url("../assets/img/latte-coder.jpg");
    min-height: 70em;
    background-size: cover;
    background-repeat: no-repeat center center;
    background-attachment: fixed;
    background-position: center top;
    margin-top: 0em;
}

.title-name {
    font-family: 'Sacramento', cursive;
    font-size: 75px;
    color: black
}
.title-font {
    font-family: 'Karla', sans-serif;
    color: black;
}

.typewrite {
    font-family: 'Karla', sans-serif;
    color: black;
}

.also{
    font-family: 'Karla', sans-serif;    
    color: black;
}

#about{
    margin: 5em;
    // margin-bottom: 5em; 
}
#about-me-photo{
    background-image: url("../assets/img/about.jpg");
    height: 25em;
    width: 20em;
    background-size: cover;
    border-radius: 100%;
    background-repeat: no-repeat;
}

.logos {
    background-size: contain;
    height: 5em;
    background-repeat: no-repeat;
}

#cSharp{
    background-image: url("../assets/logo/cSharpCrop.png");
}

#css {
    background-image: url("../assets/logo/CSS.png")
}

#github {
    background-image: url("../assets/logo/Github.png")
}

#html {
    background-image: url("../assets/logo/html_Logo.png")
}

#bootstrap {
    background-image: url("../assets/logo/bootstrap.png")
}