/* ------------------------------
Navbar Section
--------------------------------*/
.link {
    font-family: 'Karla', sans-serif; 
}

.navbar-brand {
    font-family: 'Sacramento', cursive;
    font-size: 30px;
}

.navbar{
    height: 60px;
    margin-bottom: 0em;
    background-color: transparent;
    border: 0px hidden transparent;
    z-index: 100;
    transition: background-color 0.5s ease 0s;
    padding: 0 1em;
}

.navbar-default {
    border: 0px hidden transparent;
    .navbar-brand {
        margin-top: 10px;
        color: black;  //This sets the color of my name in the transparent navbar.

        &:hover {   // This changes my name pink when I hover over it.
            color: #FFC6B9;
        }
    }
    .navbar-nav {
        > li {
            > a {
                color: black;  //This makes my buttons black when transparent.
                margin: 10px 5px 5px 5px;
            }
            > a:hover, > a:active, > a:focus {
                color: #FFC6B9;  //This changes navbar buttons pink when I hover.
            }
        }
        > .active {  //Not sure if this is necessary... MIGHT be relevant when buttons link to something.
            > a, > a:hover, > a:focus {
                background-color: transparent;
                color: #FFC6B9;
            }
        }
    }
}

.navbar.solid {
    background: white!important;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px gray;

        .navbar-brand {    //This changes my name gray when I scroll down.
                color: #6F7E8A;
            transition: color 1s ease 0s;
            &:hover {   // This changes my name pink when I hover over it.
                color: #FFC6B9;
                transition: background-color 0.5s ease 0s;
            }
        }

        .navbar-nav {  //This changes my buttons gray when I scrolls down.
            > li {
                > a {
                    color: #6F7E8A;
                    transition: color 1s ease 0s;
                    // margin: 10px 5px 5px 5px;
                }
                > a:hover, > a:active, > a:focus {
                    color: #FFC6B9;  //This changes navbar buttons pink when I hover.
                    transition: background-color 0.5s ease 0s;
                }
            }
        }
}

#clearNav {
    background: transparent;
    border: none;
    box-shadow: none;
}
